doctype html
html
  head
    title Harshit Dance Academy 
    block scripts
    block style 
  body
    nav#navbar 
        ul 
            div#logo 
                img(src = "/static/logo/logo3.png")
                | HDA 
            li #[a(href="/") HOME ]
            li #[a(href="/") ABOUT] 
            li #[a(href="/") SERVICES ]
            li #[a(href="/") CLASS INFO ]
            li #[a(href="/") CONTACT US] 
    block content
    
    footer#footer 
        | Copyright © 2022 HarshitDanceAcademy.com | All Right Reserved 
